.main-sidebar{
    background-color: #1F3C88 !important;
}

.layout-fixed .brand-link{
    margin: 0;
    padding: 60px;
    border-bottom: none !important;
}
.brand-link .brand-image{
    float: none !important;
    max-height: 100px !important;
    margin: auto !important;
    display: block;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}
